<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClientesControlador</servlet-name>
        <servlet-class>retail.controlador.ClientesControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderServlet</servlet-name>
        <servlet-class>retail.controlador.NewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>retail.controlador.EditOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelperServlet</servlet-name>
        <servlet-class>retail.controlador.HelperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProviderServlet</servlet-name>
        <servlet-class>retail.controlador.ProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedoresControlador</servlet-name>
        <servlet-class>retail.controlador.VendedoresControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosControlador</servlet-name>
        <servlet-class>retail.controlador.ProductosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrasladoControlador</servlet-name>
        <servlet-class>retail.controlador.TrasladoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasControlador</servlet-name>
        <servlet-class>retail.controlador.VentasControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesControlador</servlet-name>
        <servlet-class>retail.controlador.ReportesControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientesControlador</servlet-name>
        <url-pattern>/clientescontrolador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedoresControlador</servlet-name>
        <url-pattern>/vendedorescontrolador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosControlador</servlet-name>
        <url-pattern>/productoscontrolador.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>retail.controlador.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/menu.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TypeServlet</servlet-name>
        <servlet-class>retail.controlador.TypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmenuServlet</servlet-name>
        <servlet-class>retail.controlador.SubmenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>retail.controlador.DepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmenuServlet</servlet-name>
        <url-pattern>/submenu.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RollServlet</servlet-name>
        <servlet-class>retail.controlador.RollServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RollServlet</servlet-name>
        <url-pattern>/roll.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OpcionesServlet</servlet-name>
        <servlet-class>retail.controlador.OpcionesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpcionesServlet</servlet-name>
        <url-pattern>/opciones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeServlet</servlet-name>
        <url-pattern>/type.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrasladoControlador</servlet-name>
        <url-pattern>/traslado.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>retail.controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/usuario.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletInicioSesion</servlet-name>
        <servlet-class>retail.controlador.ServletInicioSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInicioSesion</servlet-name>
        <url-pattern>/sesion.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>VentasControlador</servlet-name>
        <url-pattern>/ventascontrolador.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ComprasControlador</servlet-name>
        <servlet-class>retail.controlador.ComprasControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprasControlador</servlet-name>
        <url-pattern>/comprascontrolador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/department.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProviderServlet</servlet-name>
        <url-pattern>/provider.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QRControlador</servlet-name>
        <servlet-class>retail.controlador.QRControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QRControlador</servlet-name>
        <url-pattern>/qr.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderServlet</servlet-name>
        <url-pattern>/NewOrderServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/EditOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelperServlet</servlet-name>
        <url-pattern>/HelperServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BarraControlador</servlet-name>
        <servlet-class>retail.controlador.BarraControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarraControlador</servlet-name>
        <url-pattern>/barra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesControlador</servlet-name>
        <url-pattern>/reporte.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
